html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* nav {
}

nav a {
}

header {
} */

main {
  width: 90vw;
  max-width: 768px;
  margin: 0 auto;
  flex: 1 0 auto;
}

/* Article */
/******************************************************************************/
article {
}

article > p {
  text-align: justify;
}

article >  h1 {
}

article >  h2 {
}

article >  h3 {
}

article > h4 {
}

article > .header {
}

article figure {
  margin: 0;
  padding: 20px 0;
}

article figure > img {
  max-width: 100%;
  display: block;
  margin: auto;
}

footer {
}

/* Layouts */
/******************************************************************************/
.l-normal {
  max-width: 90vw;
  width: 768px;
  margin: 0 0 0 50%;
  transform: translateX(-50%);
}

.l-middle {
  max-width: 90vw;
  width: 960px;
  margin: 0 0 0 50%;
  transform: translateX(-50%);
}

.l-large {
  max-width: 90vw;
  width: 1152px;
  margin: 0 0 0 50%;
  transform: translateX(-50%);
}

.todo::before {
  content: "TODO: ";
}

.todo {
  background-color: coral;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

/* References */
/******************************************************************************/
#referencediv {
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#referencediv > .title {
  font-weight: 600;
  margin: 0 20px 0 0;
}

.references > ol {
  counter-reset: list;
}

.references > ol > li {
  list-style: none;
  position: relative;
}

.references > ol > li::before {
  display: inline-block;
  counter-increment: list;
  content: "[" counter(list) "] ";
  width: 2em;
  margin-left: -2em;
}

.references > ol > li > .title {
  font-weight: 600;
  margin: 0 20px 0 0;
}

/* Footnotes */
/******************************************************************************/
#footnotediv {
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.footnotes > ol {
  counter-reset: list;
}

.footnotes > ol > li {
  list-style: none;
  position: relative;
}

.footnotes > ol > li::before {
  display: inline-block;
  counter-increment: list;
  vertical-align: super;
  content: counter(list);
  width: 1em;
  margin-left: -1em;
}

/* Links */
/******************************************************************************/
a {
  text-decoration: none;
  color: rgba(42, 122, 226);
}

a:visited {
  color: rgba(38, 110, 204);
}

a:hover {
  text-decoration: underline;
  color: rgb(17, 17, 17);
}

/* Figures */
/******************************************************************************/
figcaption {
  color: rgb(125, 125, 125);
  margin: 20px auto 0 auto;
}

@media (min-width: 1080px) {
}

@media (min-width: 768px) {
}

/* Tables */
/******************************************************************************/
d-table-caption {
  font-size: 0.8rem;
  color: rgb(125, 125, 125);
}

/* Post list */
/******************************************************************************/
.post-list {
  list-style: none;
  padding: 0;
}

.post-list h2 {
  margin: 0;
}

.post-list li a {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  color: black;
}

.post-list li a:hover {
  text-decoration: none !important;
  color: black;
}

.post-list li a .metadata {
  width: 15%;
  margin: 8px 0; 
}

.post-list li a .description {
  margin-right: auto;
  max-width: 40%;
}

.post-list li a .thumbnail {
  width: 35%;
}

@media (max-width: 768px) {
  .post-list li a {
    flex-direction: column;
  }

  .post-list li a .metadata {
    width: 90vw;
    margin: 8px 0; 
    order: 1;
  }
  
  .post-list li a .description {
    max-width: 90vw;
    order: 3;
  }
  
  .post-list li a .thumbnail {
    width: 90vw;
    order: 2;
  }
}

/* Separators */
/******************************************************************************/
.hline {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Separators */
/******************************************************************************/
.eqn {
  overflow-x: auto;
  display: block; /* or use a <div> instead of a span */
}

.thumbnail img {
  width: 100%;
}