/* 
cool design: https://devhints.io/css-system-font-stack
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    background-color: #f1f3f5 !important;
}

.h1, h1 {
    font-weight: 600;
    /* font-size: 240px !important; */
    line-height: 1.25em;
    margin: 2rem 0 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

.h2, h2 {
    font-weight: 600;
    font-size: 20px !important;
    line-height: 1.25em;
    margin: 2rem 0 1rem 0;
}

p {
    text-align: justify;
    /* font-size: 12pt; */
}

li {
    list-style-type: none;
}

#bibtex_display li {
    list-style-type: decimal;
    
    font-size: 0.8em;
    line-height: 1.7em;
    color: rgba(0,0,0,0.5);
}

figure {
    font-weight: 100;
    margin: 0px;
    text-align: justify;
    text-align-last: center;
}

.reading_area {
    width: 90%;
    max-width: 1000px;
    margin: auto !important;

}

.toc_container {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 12pt;
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
    position: sticky;
    top: 0;
}

.toc_container ul {
    margin: 0px;
    padding: 0px;
}

.post_container {
    /* width: 700px; */
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 12pt;
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
}

